@font-face {
   font-family: 'PTSans';
   src: url('/assets/fonts/PTSans-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'PTSans';
   src: url('/assets/fonts/PTSans-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'PTSans';
   src: url('/assets/fonts/PTSans-Bold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'PTSans';
   src: url('/assets/fonts/PTSans-BoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'PTSansNarrow';
   src: url('/assets/font/PTSansNarrow-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'PTSansNarrow';
   src: url('/assets/font/PTSansNarrow-Bold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}