body {
   color: var(--secondary-color);
   font-size: var(--font-size-body-base);
   font-family: var(--font-family-body);
   background: var(--primary-color);
}

h1 {
   font-size: var(--font-size-display-large);
   font-family: var(--font-family-display);
   font-weight: 600;
   text-transform: uppercase;
}

h2 {
   font-size: var(--font-size-display-small);
   font-family: var(--font-family-display);
   font-weight: 600;
   text-transform: uppercase;
}

/* Colour animations */

@keyframes highlightedColour {
   0% {
      background: var(--highlight-color-y);
   }
   33% {
      background: var(--highlight-color-p);
   }
   66% {
      background: var(--highlight-color-o);
   }
   100% {
      background: var(--highlight-color-y);
   }
}

@keyframes highlightedColourTr {
   0% {
      background: var(--highlight-color-y-tr);
   }
   33% {
      background: var(--highlight-color-p-tr);
   }
   66% {
      background: var(--highlight-color-o-tr);
   }
   100% {
      background: var(--highlight-color-y-tr);
   }
}

@keyframes highlightedColourVector {
   0% {
      fill: var(--highlight-color-y);
   }
   33% {
      fill: var(--highlight-color-p);
   }
   66% {
      fill: var(--highlight-color-o);
   }
   100% {
      fill: var(--highlight-color-y);
   }
}

@keyframes highlightedColourBorder {
   0% {
      border: solid var(--highlight-color-y) 2.2px;
   }
   33% {
      border: solid var(--highlight-color-p) 2.2px;
   }
   66% {
      border: solid var(--highlight-color-o) 2.2px;
   }
   100% {
      border: solid var(--highlight-color-y) 2.2px;
   }
}

@keyframes highlightedColourText {
   0% {
      color: var(--highlight-color-y);
   }
   33% {
      color: var(--highlight-color-p);
   }
   66% {
      color: var(--highlight-color-o);
   }
   100% {
      color: var(--highlight-color-y);
   }
}
