:root {
   /* Colours */
   --primary-color: #FFFFFF;
   --secondary-color: #444444;
   --tetriary-color: #F5F5F5;
   --highlight-color-y: #FFF500;
   --highlight-color-o: #FFB800;
   --highlight-color-p: #EC7AFF;

   /* Colours transparent */

   --primary-color-tr: #FFFFFF80;
   --secondary-color-tr: #444444BB;
   --tetriary-color-tr: #F5F5F580;
   --highlight-color-y-tr: #fff70080;
   --highlight-color-o-tr: #FFB80080;
   --highlight-color-p-tr: #EC7AFF80;

   /* Font */
   --font-family-body: "PTSans";
   --font-family-display: "PTSansNarrow";

   --font-size-body-small: 0.9rem;
   --font-size-body-base: 20px;
   --font-size-body-large: 1.6rem;

   --font-size-display-small: 1.8rem;
   --font-size-display-large: 4.8rem;

   /* Spacing */
   --spacing-padding: 0.5rem;
   --spacing-small: 20px;
   --spacing-medium: 2.5rem;
   --spacing-big: 5rem;

   /* Border */

   --border-button: 1.5px;

   /* Misc */
}
